<?xml version="1.0"?>
<!--
/**
 * Copyright 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">

    <preference for="Seller\WebService\Api\MarketplaceInterface"
                type="Seller\WebService\Model\Marketplace" />
				
	<!--<router id="seller">
    <route id="mageplaza" frontName="hello">
       <module name="Seller_WebService" before="Magento_Customer" />
    </route>
</router>-->

</config>